bs4
lxml
numpy
pandas
psutil
pyodbc
openpyxl
requests
html5lib
pyperclip
sqlalchemy
fake-useragent
selenium==4.8.0
webdriver_manager
selenium-profiles
pyopenssl==23.2.0
elasticsearch==7.13.3
undetected_chromedriver
selenium-recaptcha-solver==1.9.0
webdriver-manager==4.0.1